* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.cabecera {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px;
  margin-bottom: 20px;
}

.cabecera .registro {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.cabecera .eregistro {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding: 12px 20px;
  background-color: rgb(42, 101, 214);
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 500;
  border: none;
  border-radius: 30px;
  box-shadow: 0 5px 15px rgba(42, 101, 214, 0.4);
  text-decoration: none;
}

.eregistro .material-symbols-outlined {
  font-size: 24px;
}

.cabecera a:hover {
  background-color: rgb(30, 80, 180);
}

.cabecera p {
  margin-right: 20px;
}

.cuerpo {
  display: grid;
  grid-template-columns: 40% 60%;
  margin-left: 80px;
  margin-right: 80px;
  margin-top: 75px;
  margin-bottom: 83px;
}

.cuerpo .info {
  margin-right: 100px;
}

.cuerpo .info #hola {
  font-weight: bold;
  font-size: 80px;
  color: rgb(42, 101, 214);
  margin-bottom: 30px;
  margin-top: 10px;
}

.cuerpo .info #texto {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 10px;
}

.formulario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 10px;
  margin-right: 20px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 100%;
  max-width: 800px;
  padding: 40px;
}

.formulario h1 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 35px;
  color: rgb(42, 101, 214);
}

.formulario input {
  width: 85%;
  padding: 15px;
  margin-bottom: 15px;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 5px;
  font-size: 20px;
  transition: border-color 0.3s ease;
}

.formulario input:focus {
  border-color: rgb(42, 101, 214);
  outline: none;
}

.formulario button {
  width: 70%;
  padding: 15px;
  background-color: rgb(42, 101, 214);
  border: none;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 20px;
  margin-top: 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.formulario button:hover {
  background-color: rgb(30, 80, 180);
}

.alta {
  text-decoration: underline;
  color: rgb(0, 0, 0);
}

.formulario .material-symbols-outlined {
  margin-right: 20px;
}

@media (max-width: 1170px) {
  .cuerpo {
    grid-template-columns: repeat(1, 1fr);
  }

  .cuerpo .info {
    margin-right: 0px;
    text-align: center;
    margin-bottom: 40px;
  }

  .formulario {
    justify-self: center;
  }
}

@media (max-width: 580px) {
  .cuerpo .info {
    margin-left: 80px;
    margin-right: 80px;
  }

  .cuerpo .info #hola {
    font-size: clamp(50px, 2vw, 100px);
  }

  .cuerpo .info #texto {
    font-size: clamp(25px, 2vw, 70px);
  }

  .formulario {
    transform: scale(0.9);
    margin-right: 0px;
  }

  .cuerpo {
    margin-left: 5px;
    margin-right: 5px;
  }
}

@media (max-width: 600px) {
  input::placeholder {
    font-size: clamp(15px, 3vw, 20px);
  }
}