<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

<div class="cabecera">
  <h1></h1>
  <div class="registro">
    <p>¿Ya tienes cuenta?</p>
    <a class="eregistro" href="/login1">
      <span class="material-symbols-outlined">login</span>Iniciar sesión
    </a>
  </div>
</div>

<hr />

<div class="cuerpo">
  <div class="info">
    <p id="hola">Bienvenido!</p>
    <p id="texto">Crea tu cuenta para poder acceder a tu banca electrónica aquí.</p>
  </div>

  <div class="formulario">
    <form [formGroup]="registroForm" (ngSubmit)="onSubmit()">
      <h1>Registro de Usuario</h1>

      <span class="material-symbols-outlined">person</span>
      <input type="text" formControlName="nombre" placeholder="Nombre completo" required />
      <br />

      <span class="material-symbols-outlined">badge</span>
      <input type="text" formControlName="dni" placeholder="Documento Nacional de Identidad" required minlength="9" maxlength="9"/>
      <br />

      <span class="material-symbols-outlined">mail</span>
      <input type="email" formControlName="email" placeholder="Correo electrónico" required />
      <br />

      <span class="material-symbols-outlined">password</span>
      <input type="password" formControlName="password" placeholder="Contraseña" required minlength="6"/>

      <button type="submit">Registrarme</button>
      <br /><br /><br /><br /><br />
      <a class="alta" href="/login1">Ya tengo cuenta</a><br /><br />
    </form>
  </div>

  <p *ngIf="errorMessage" class="error" style="color: red;">{{ errorMessage }}</p>
</div>