<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />


<div class="cabecera">

  <div class="login">
    <h1></h1>
    <a class="elogin" href="/login1"><span class="material-symbols-outlined">account_circle</span> Área Cliente</a>
  </div>

  <nav class="menu">
    <ul>
      <li><a href="/cuentas"><span class="material-symbols-outlined">account_balance</span>Cuentas y ahorro</a></li>
      <li><a href="/tarjetas"><span class="material-symbols-outlined">credit_card</span>Tarjetas</a></li>
      <li><a href="/prestamos"><span class="material-symbols-outlined">handshake</span>Préstamos</a></li>
      <li><a href="/hipotecas"><span class="material-symbols-outlined">home</span>Hipotecas</a></li>
      <li><a href="/seguros"><span class="material-symbols-outlined">verified_user</span>Seguros</a></li>
      <li><a href="/inversion"><span class="material-symbols-outlined">trending_up</span>Inversión y bolsa</a></li>
      <li><a href="/pensiones"><span class="material-symbols-outlined">beach_access</span>Planes de pensiones</a></li>
    </ul>
  </nav>

  <hr>
</div>

<div class="cuerpo">

  <div class="uno">
    <h1>¿Necesitas un cambio de aires?</h1>
    <h1>Vente con nosotros!</h1>
  </div>

  <div class="dos">
    <h2>Descubre cómo trasladar tu cuenta bancaria a ABANCA y todos sus beneficios.</h2>
    <h3><a href="/login2">Más información</a></h3>
  </div>

</div>